<script type="text/javascript">
  var KEY = "<%= @sheet_key %>";
</script>
<script type="text/javascript" src="js/budget.js"></script>

<div id="loginInfo">
     Not logged in.
</div>

<div id="menu">
  <div class="button" id="authorize-button" style="display:none;">Authorize</div>
  <div class="button" id="history-button" onclick="loadHistory();" style="display:none;">History</div>
  <div class="button" id="overview-button" onclick="loadOverview();" style="display:none;">Overview</div>
  <div class="button" id="overview-button-last-month" onclick="loadOverviewLastMonth();" style="display:none;">Last Month Overview</div>
</div>

<div id="log"></div>

<ul id="transactions">
</ul>

<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
