<div id="demo">
  <p>A free and open-source expense manager that uses google spreadsheets as a backend.</p>
  <p><em>You</em> own the spreadsheet, <em>you</em> decide how to use it.</p>
  <p>We give you convenient tools to add expenses to your spreadsheet using your smartphone and a pretty website where you can visualize your data in a beautiful way.</p>

  <a href="/demo" class="button">Look at the demo</a>
  <a href="/account" class="small_button">I already have the spreadsheet</a>
</div>
