<html>
  <head>
    <title>TwinBudget</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400|Roboto+Slab' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/jquery-2.0.3.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="body">
        <h1><a href="/">TwinBudget</a></h1>
        <%= yield %>
      </div>
      <footer>
        <p>Made by <a href="http://www.julesmarchand.com" target="_blank">Jules Marchand</a>
          and <a href="http://bap.heroku.com" target="_blank">Baptiste Marchand</a></p>
        <p><a href="https://bitbucket.org/bap/twinbudget" target="_blank">Project on Bitbucket</a></p>
      </footer>
    </div>
  </body>
</html>
