body {
    font-family: "Open Sans";
    background: #EFEFEF;
    color: #2B3A42;
}

#container {
   min-height:100%;
   position:relative;
}

#body {
   padding-bottom:60px;   /* Height of the footer */
}

footer {
    font: 400 14px 'Open Sans', sans-serif;
    color: #888;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;   /* Height of the footer */
}

footer a {
    color: #3F5765;
}

#demo {
    margin: 20px;
}

#demo p {
    font-size: 30px;
    margin: 20px;
}

#demo .button {
    background: #FF530D;
    font-size: 50px;
}

#demo .small_button {
    font-size: 30px;
    text-decoration: none;
    cursor:pointer;
    padding: 15px;
    background: #3F5765;
    color: #EFEFEF;
    display: inline-block;
}

em {
    font-weight: bold;
}

h1 {
    margin: 20px;
    font-family: "Roboto Slab";
    font-size: 40px;
}

h1 a {
    text-decoration: none;
}

h1 a:visited, h1 a:link, h1 a:hover, h1 a:active {
    color: #2B3A42;
}

#loginInfo {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    font-size: 12px;
    color: #888;
}

#menu {
    margin-left: 20px;
    margin-bottom: 20px;
}

.button {
    text-decoration: none;
    cursor:pointer;
    padding: 15px;
    background: #3F5765;
    color: #EFEFEF;
    display: inline-block;
}

.button:hover {
    background: #2B3A42;
}

#log {
    font-size: 12px;
    margin-left: 20px;
}

li {
    padding: 10px;
    margin: 0 20px;
}

li > div {
    display: inline-block;
    margin-right: 30px;
    min-width: 100px;
    padding: 10px;
}

#IN { background: #33CC0D; }
#OUT { background: #FF330D; }
#IN, #OUT {
    color: #eee;
    text-align: right;
}

.montant, .total, .pourcentage {
    text-align: right;
    min-width: 60px;
}

.categorie {
    margin-right: 1px;
    text-align: center;
}

.categorie, .pourcentage {
    color: #EFEFEF;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid #c8c8c8;
}

.date {
    margin-left: 20px;
    font-weight: bold;
}

.photo {
    padding: 0;
    margin: 0;
}

.photo img {
    height: 30px;
}

.note {
    font-size: 12px;
}

.client {
    font-size: 14px;
    font-weight: bold;
}
